//============================================================
// Sequencer : {{ ag.name }}_sequencer
//============================================================

class {{ ag.name }}_sequencer extends uvm_sequencer #({{ ag.name }}_item);

  `uvm_component_utils({{ ag.name }}_sequencer)

  function new(string name, uvm_component parent);
    super.new(name, parent);
  endfunction

endclass
