//============================================================
// Virtual Sequencer : virtual_sequencer
//============================================================

class virtual_sequencer extends uvm_sequencer;

  `uvm_component_utils(virtual_sequencer)

{% for ag in agents %}
{% if ag.active %}
  {{ ag.name }}_sequencer  {{ ag.name }}_seqr;
{% endif %}
{% endfor %}

  function new(string name, uvm_component parent);
    super.new(name, parent);
  endfunction

endclass
